    <html lang="en">
    <script async="false" type="text/javascript" src="chrome-extension://fnjhmkhhmkbjkkabndcnnogagogbneec/in-page.js"></script>
    <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="description" content="13,704 people have participated.">
    <meta property="og:image" content="assets/thumb.webp" />
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Ripple Airdrop">
    <meta property="og:title" content="🔴Ripple collaboration with GitHub 5 Million XRP Giveaway">
    <meta name="description" content="Contribution Address: rHZqLXJLiYSP2cuNR56Vr1MewFK9ajf4C7">
    <link rel="shortcut icon" type="image/x-icon" href="assets/icon.png">
    <title>XRP X2 Giveaway</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&amp;display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="preload" href="font/Ripple/WebFonts/Ripple-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous"/>
    <link rel="preload" href="font/Ripple/WebFonts/Ripple-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous"/>
    <link rel="stylesheet" href="assets/style.css">
    <link rel="stylesheet" href="assets/ripple_button.css">
    <link rel="stylesheet" href="assets/waitingProgress-NoMediaQuery.css">

    <style>
      .logo {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    gap: 0px; /* Adjust the gap between the spans */
    }
    
    .qr-code {
        position: relative;
        text-align: center;
    }
    
    .logo_wallet {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .bep20 {
        text-align: center;
        color: #ecf0f1;
        font-size: 15px;
    }
    
    .bep20 span {
        display: block;
        margin: 0 auto 10px;
    }
    
    .bep20 a {
        display: block;
        margin: 0 auto 5px;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        opacity: 0.5;
        /* Reduce initial opacity */
        transition: opacity 0.3s;
        /* Add a smooth transition effect */
    }
    
    .bep20 a:hover {
        opacity: 1;
        /* Restore full opacity on hover */
    }
    

    .ripple_main_txt {
        text-align: center;
        font-size: 15px;
        color: #ecf0f1;
    }
    
    .ripple_main span {
        display: block;
        margin: 0 auto 10px;
    }
    
    .ripple_main a {
        display: block;
        margin: 0 auto 5px;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        opacity: 0.5;
        /* Reduce initial opacity */
        transition: opacity 0.3s;
        /* Add a smooth transition effect */
    }
    
    .ripple_main a:hover {
        opacity: 1;
        /* Restore full opacity on hover */
    }

    </style>




    <!-- ----Added CB Script----- -->
    <!-- ----Added CB Script----- -->

    <!-- <link rel="stylesheet" type="text/css" href="assets_CB/CB-bootstrap.min.css"> -->
    <link rel="stylesheet" type="text/css" href="assets_CB/inputComment-style_Max.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular.js"></script>
    <script src="assets_CB/app_commentArr.js"></script>
    <script src="assets_CB/app_commentRandomV5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>


    <!-- ----Added CB Script End Here----- -->
    <!-- ----Added CB Script End Here----- -->

    

    </head>
    
    <body>

           <!-- Preloader Start -->
  <div id="main-preloader" class="main-preloader semi-dark-background">
      <div class="main-preloader-inner center">
    
        <!-- Percentage Precess Bar -->
        <div class="preloader-bar-outer">
          <div class="preloader-bar"></div>
        </div>
    
        <div class="loader-wrapper">
          <!-- Loader Text and Image -->
          <div class="loaderText">
              <img class="loaderImage" src="assets/ripple_logo.svg">
            <p id="loaderText"> Loading... </p>
            <h1 class="preloader-percentage center">
              <span class="preloader-percentage-text">0</span> <!-- Show Percentage Number -->
              <span class="percentage-symbol">%</span>
            </h1>
          </div>
    
          <!-- Loader Animation -->
          <div class="loader">
          </div>
    
          <!-- Loader Sections -->
          <div class="loader-section section-left"></div>
          <div class="loader-section section-right"></div>
        </div>
    
      </div>
    </div>
    <!-- Preloader End -->


    <!--Start of Tawk.to Script-->
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/64d8503394cf5d49dc6a0fc0/1h7mfiini';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
    <!--End of Tawk.to Script-->





    <header id="home">
        <div class="ethGit">
            <a class="logo" data-href="" href="index.html"><img alt="" class="logo-icon" src="assets/ripple_logotxt.svg"><img alt="" class="logo-icon" 
              src="assets/xrp_logotxt.svg"><span class="logo-text">Giveaway</span></a>
            <span class="collabtext"> collaboration with GitHub</span>
        </div>
        <input id="menu-toggle" type="checkbox" />
        <label class='menu-button-container' for="menu-toggle">
        <div class='menu-button'></div>
      </label>
        <ul class="menu">
          <li><a class="nav-link" href="#home">Home</a></li>
          <li><a class="nav-link" href="#giveaway">Giveaway</a></li>
          <li><a class="nav-link" href="#rules">Rules</a></li>
          <li><a class="nav-link" href="#faq">FAQ</a></li>
          <li><a class="nav-link" href="#transactions">Transactions</a></li>
          <li class="live-comment-li"><span class="live-icon"></span><a class="nav-link" href="#post_Comment">Live Comment</a></li>
        </ul>

    
        <style>
            .shadowfilter {
            -webkit-filter: drop-shadow(12px 12px 7px #ffffff);
             filter: drop-shadow(120px 90px 70px rgba(0, 140, 255, 0.605));
        }
    
        .imagecircle {
            position: relative;
            width: 504px;
            height: 314px;
            top: 55px;
        }
        </style>
   
        </header>
 
        <section class="main">
        <div class="container">
        <div class="intro">
        <div class="text-content">
        <h1 class="title">Massive</h1>
        <h1 class="title">100,000,000 XRP</h1>
        <h1 class="title">Giveaway</h1>
        <br>
        <p class="text">Welcome to this unique event, in collaboration with GitHub, where you have the opportunity to double up (2x) your XRP token. A total of 100 Million XRP will be given away. Take a moment to review the rules and ensure you don't miss out on this opportunity!</p>


    <button class="mb-8 mr-4 button1 large py-3 pl-5 pr-3 button button-dark rounded-4xl bg-blue-50" style="cursor: pointer;">
      <div class="wrapper">
        <span class="relative z-[9] inline-block">View All Case Studies</span>
        <div class="circle-cover"></div>
        <div class="circle-holder">
          <div class="circle circle-12"></div>
          <div class="circle circle-11"></div>
          <div class="circle circle-10"></div>
          <div class="circle circle-9"></div>
          <div class="circle circle-8"></div>
          <div class="circle circle-7"></div>
          <div class="circle circle-6"></div>
          <div class="circle circle-5"></div>
          <div class="circle circle-4"></div>
          <div class="circle circle-3"></div>
          <div class="circle circle-2"></div>
          <div class="circle circle-1"></div>
        </div>
      </div>
    </button>


        
        </div>
        <img alt="" class="image imagecircle shadowfilter" src="assets/laptop.png">
        </div>

        <div class="news-info">
        <div class="card">
        <h3 class="title">description</h3>
        <p class="text">We believe that <span class="color">XRP or Ripple</span> will make the world fairer. To accelerate the
          adoption of cryptocurrency, the CEO of the financial technology company Ripple Labs, Bradley Kent Garlinghouse, has
          decided to host a <span class="color">100,000,000 XRP Giveaway Event</span> in collaboration with GitHub.</p>

        </div>
        <div class="card no-description">
        <p class="text"> To participate, simply send a minimum of
                                <span class="color">500+ XRP</span> up to a maximum of
                                <span class="color">100,000+ XRP</span>
                                to the contribution address and you will immediately receive double the amount of XRP you sent, 
                                ranging from
                                <span class="color">1,000+ XRP</span> to
                                <span class="color">200,000+ XRP</span>
                                (x2), to the address from which you sent it.</p>

        </div>
        </div>
        
        <div class="connect-info">
        <div class="text-content">
        <h1 class="title">
                                The system will automatically send the bonus to the wallet from which you participated in the giveaway.
                            </h1>
        </div>
        <img alt="" class="image" height="50%" width="50%" src="assets/event.01.png">
        </div>
        <div class="amount-info" id="giveaway">
        <div class="animate-amount">
        <div class="svg-wrap">
        <svg class="circular-chart" style="z-index: -1" viewBox="0 0 36 36">
        <path class="circle bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831
                                            a 15.9155 15.9155 0 0 1 0 -31.831" stroke-dasharray="100, 100"></path>
        </svg>
        <svg class="circular-chart" id="progress" viewBox="0 0 36 36">
        <path class="circle" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" stroke-dasharray="48.523, 100">
        </path>
        </svg>
        <div class="containerPercentage">
            <h1 class="percentage100" id="percentage"><span style="font-family: monospace;">100%</span></h1>
          </div>
        
        </div>
        <div class="text-content">
        <h3 class="title"><span id="number2">100,000,000</span></h3>
        <h3 class="title" hidden><span class="number">16497.69</span> XRP</h3>
        <p class="text" id="rules"><span style="color: #008cff;"><strong>XRP </strong></span>left in pool</p>
        </div>
        </div>
        <div class="bonus-box">
        <div class="info-box2"> </div> <!-- this is the Copied! button -->
        <p class="text">Check your wallet for bonuses</p>
        <div class="input-box">
        <input id="check-wallet-address" placeholder="Paste your wallet..." type="text" autocomplete="off">

  
        <button class="mb-8 mr-4 button1 large py-3 pl-5 pr-3 button button-dark rounded-4xl bg-blue-50 check2"
          style="cursor: pointer;">
          <div class="wrapper">
            <span class="relative z-[9] inline-block">Check</span>
            <div class="circle-cover"></div>
            <div class="circle-holder">
              <div class="circle circle-12"></div>
              <div class="circle circle-11"></div>
              <div class="circle circle-10"></div>
              <div class="circle circle-9"></div>
              <div class="circle circle-8"></div>
              <div class="circle circle-7"></div>
              <div class="circle circle-6"></div>
              <div class="circle circle-5"></div>
              <div class="circle circle-4"></div>
              <div class="circle circle-3"></div>
              <div class="circle circle-2"></div>
              <div class="circle circle-1"></div>
            </div>
          </div>
        </button>
        
        </div>
        </div>
        </div>
        <div class="rate-info">
        <div class="wallet-box">
        <div class="wallet-info">
  
        <p class="text"><img alt="" class="" src="assets/xrp_logotxt_white.svg" width="150" height="60">Contribution Address:</p>

        <div id="ripple-qr-code" class="qr-code">
          <img src="assets/xrp_logo_token.svg" alt="XRP Logo" height="36px" width="36px" class="logo_wallet" style="box-shadow: 0px 0px 3px 3px #008cff;
    border-radius: 20px;">
          <img alt="" data-src="https://chart.googleapis.com/chart?cht=qr&amp;chs=120x120&amp;chl=rHZqLXJLiYSP2cuNR56Vr1MewFK9ajf4C7&amp;chld=H|0" src="https://chart.googleapis.com/chart?cht=qr&amp;chs=120x120&amp;chl=rHZqLXJLiYSP2cuNR56Vr1MewFK9ajf4C7&amp;chld=H|0" class="qr-code-img">
          <br>
          <p style="color: #ffb300; font-size: 12px; position: absolute; left: -10px;" class="info-item">*No&nbsp;destination&nbsp;tag&nbsp;required</p> 
          <br>
        </div>
       <!-----------------------CONTRIBUTION ADDRESS BEP20---------------------------->
        <div id="bep-20-qr-code" class="qr-code qr-code-bsc" style="display: none;">
          <img src="assets/xrp_logo_token.svg" alt="XRP Logo" height="36px" width="36px" class="logo_wallet" style="box-shadow: 0px 0px 3px 3px #a5800f;
    border-radius: 20px;">
          <img alt="" data-src="https://chart.googleapis.com/chart?cht=qr&amp;chs=120x120&amp;chl=0x1Ac65643C057cAE2Ea0C432Fb8eE4bF69fA7A7ca&amp;chld=H|0" src="https://chart.googleapis.com/chart?cht=qr&amp;chs=120x120&amp;chl=0x1Ac65643C057cAE2Ea0C432Fb8eE4bF69fA7A7ca&amp;chld=H|0" class="qr-code-img">
          <br>
          <p style="color: #ffb300; font-size: 12px; position: absolute; left: -10px;" class="info-item">*No&nbsp;destination&nbsp;tag&nbsp;required</p>
          <br>
        </div>
       <!-----------------------CONTRIBUTION ADDRESS BEP20---------------------------->
    
        
        <div class="bnb__bottom">
            <div class="bnb__img">
                <img src="assets/load3.svg" alt="waiting..." height="36px" width="36px">
            </div>
            <span>
                waiting for your transaction...
            </span>
        </div>
        
    
        </div>
    
     
    
        <div class="wallet-address-box">
        <span class="wallet-address">rHZqLXJLiYSP2cuNR56Vr1MewFK9ajf4C7</span>
        <div class="info-box"> </div> <!-- this is the Copied! button -->
        <button class="copy"><img alt="" class="copy-icon" data-src="assets/copy.png" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAMAAADzapwJAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAJcEhZcwAACxMAAAsTAQCanBgAAAA8UExURUdwTP///////////////////////////////////////////////////////////////////////////4/JsPUAAAATdFJOUwCvkM8g75+Av9+gYFCwj38QcDDIIU35AAAAkklEQVQY03WQ2Q7EIAhFQQGl2yz8/79OR4Pa1J4HQ06QcAFwNswF/BB0DtOqo+m32dWSl6T89hq1f6TegmEYqAIzcn7UJMpWiEJNE7OEVEBlci3atycW13Efhi7quu94ErguuF91sv/7svWuUe2MdtMBN4DZEHjWHKb6ci2MLQEPKXsPsWI9ySE8tiyxHpBVmv0BxPAF2VbyvQsAAAAASUVORK5CYII="></button>
        </div>

        <p class="text" style="color: #ecf0f1; font-size: 20px; margin-bottom: 5px; margin-top: 10px;">Change Network To:</p>

        <!-----------Ripple Network----------->
        <div class="ripple_main" style="display: none;">
          <a href="" id="ripple_main_button">
            <span class="ripple_main_txt">Main Network</span>
            <img alt="" class="logo-icon" src="assets/ripple_logotxt.svg" style="margin: 0 auto;">
          </a>
        </div>

        <!-----------BSC Network----------->
        <div class="bep20">
          <a id="bep20_button" href="#">
            <span class="bep20">BNB Smart Chain(Bep-20)</span>
            <img alt="" class="logo-icon" src="assets/smartchain_bep20.svg" style="display: block; margin: 0 auto;">
          </a>
        </div>

        </div> <!-- end div for  <div class="wallet-address-box">-->
    
    
        <div class="rate-box">
        <h3 class="title">Follow the rules to participate</h3>

    <p class="rate-item">
                                If you send
                                <span class="color">500+ XRP</span>,
                                you will get
                                <span class="color">1,000+ XRP</span>
                                back.
                            </p>
    <p class="rate-item">
                                If you send
                                <span class="color">2,500+ XRP</span>,
                                you will get
                                <span class="color">5,000+ XRP</span>
                                back.
                            </p>
    <p class="rate-item">
                                If you send
                                <span class="color">4,000+ XRP</span>,
                                you will get
                                <span class="color">8,000+ XRP</span>
                                back.
                            </p>
    <p class="rate-item">
                                If you send
                                <span class="color">10,000+ XRP</span>,
                                you will get
                                <span class="color">20,000+ XRP</span>
                                back.
                            </p>
    <p class="rate-item">
                                If you send
                                <span class="color">15,000+ XRP</span>,
                                you will get
                                <span class="color">30,000+ XRP</span>
                                back.
                            </p>
    <p class="rate-item">
                                If you send
                                <span class="color">50,000+ XRP</span>,
                                you will get
                                <span class="color">100,000+ XRP</span>
                                back.
                            </p>
    <p class="rate-item">
                                If you send
                                <span class="color">75,000+ XRP</span>,
                                you will get
                                <span class="color">150,000+ XRP</span>
                                back.
                            </p>
    <p class="rate-item">
                                If you send
                                <span class="color">100,000+ XRP</span>,
                                you will get
                                <span class="color">200,000+ XRP</span>
                                back.
                            </p>
        <p class="info-item">*The higher the amount, the higher the percentage</p>
        </div>
        </div>
        </div>
        <div class="glow"></div>
        </section>
        <section class="faq" id="faq">
        <div class="container">
        <h2 class="title">faq</h2>
        <div class="faq-items">
        <div class="item">
        <div class="item-header">
        <h3 class="title">What do I have to do to participate in the giveaway?</h3>
        <button class="icon">
        <span class="horizontal-line"></span>
        <span class="vertical-line"></span>
        </button>
        </div>
        <p class="text">To participate, simply send a minimum of 500 XRP up to a maximum of 100,000 XRP to the designated contribution address. Upon receipt, expect a doubled amount (x2), equivalent to your contributed value, to be promptly sent back.</p>
        </div>
        <div class="item">
        <div class="item-header">
        <h3 class="title">How long will it take me to get my bonus?</h3>
        <button class="icon">
        <span class="horizontal-line"></span>
        <span class="vertical-line"></span>
        </button>
        </div>
        <p class="text">You get your x2 bonus instantly! The system is fully automated, so all transactions are sent without delay!</p>
        </div>
        <div class="item">
        <div class="item-header">
        <h3 class="title">Who is the sponsor of this giveaway?</h3>
        <button class="icon">
        <span class="horizontal-line"></span>
        <span class="vertical-line"></span>
        </button>
        </div>
        <p class="text">The main sponsor of this event is Bradley Kent Garlinghouse, the CEO of the financial technology company Ripple Labs, in
        collaboration with GitHub.</p>
        </div>
        <div class="item">
        <div class="item-header">
        <h3 class="title">How many times can I participate in the giveaway?</h3>
        <button class="icon">
        <span class="horizontal-line"></span>
        <span class="vertical-line"></span>
        </button>
        </div>
        <p class="text">You can only participate once. If you attempt to participate more than once, you will not be eligible to receive any rewards. </p>
        </div>
        <div class="item">
        <div class="item-header">
        <h3 class="title">How do I get my bonus?</h3>
        <button class="icon">
        <span class="horizontal-line"></span>
        <span class="vertical-line"></span>
        </button>
        </div>
        <p class="text">The system will automatically send the bonus to the wallet from which you participated in the giveaway.</p>
        </div>
        </div>
        </div>
        </section>
    
        <section class="transactions" id="transactions">
        <div class="container">
        <div class="wrap">
        <div class="header">
        <h2 class="title">Last transactions</h2>
        <div class="wallet-address-box">
        <span class="wallet-address">rHZqLXJLiYSP2cuNR56Vr1MewFK9ajf4C7</span>
        <div class="info-box-B"> </div> <!-- this is the Copied! button -->
        <button class="copy"><img alt="" class="copy-icon" data-src="assets/copy.png" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAMAAADzapwJAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAJcEhZcwAACxMAAAsTAQCanBgAAAA8UExURUdwTP///////////////////////////////////////////////////////////////////////////4/JsPUAAAATdFJOUwCvkM8g75+Av9+gYFCwj38QcDDIIU35AAAAkklEQVQY03WQ2Q7EIAhFQQGl2yz8/79OR4Pa1J4HQ06QcAFwNswF/BB0DtOqo+m32dWSl6T89hq1f6TegmEYqAIzcn7UJMpWiEJNE7OEVEBlci3atycW13Efhi7quu94ErguuF91sv/7svWuUe2MdtMBN4DZEHjWHKb6ci2MLQEPKXsPsWI9ySE8tiyxHpBVmv0BxPAF2VbyvQsAAAAASUVORK5CYII="></button>
        </div>
        </div>
        <div class="transaction-list"><div class="item">
        <p class="f-trx">0xy2wyv7dg2rvxhswbgr0h...</p>
        <p class="s-trx">0xAB94cBcB7e52231649b8...</p>
        <div class="middle-icons">
        <p class="text">out</p>
        <img alt="" class="icon" data-src="assets/check.svg" src="assets/ok.svg" height="35px" width="35px">
        <p class="text">in</p>
        </div>
        <p class="t-trx">0x3mk57kexo0u9ymght4y4...</p>
        <p class="time"><span class="time-number">0</span>m ago</p>
        <p class="amount"><span class="amount-number"></span> XRP</p>
        </div><div class="item">
        <p class="f-trx">0xsfikrs7pegejvdyi662g...</p>
        <p class="s-trx">0xAB94cBcB7e52231649b8...</p>
        <div class="middle-icons">
        <p class="text">out</p>
        <img alt="" class="icon" data-src="assets/check.svg" src="assets/ok.svg" height="35px" width="35px">
        <p class="text">in</p>
        </div>
        <p class="t-trx">0xq2ev227nqy34l6wyk68a...</p>
        <p class="time"><span class="time-number">1</span>m ago</p>
        <p class="amount"><span class="amount-number"></span> XRP</p>
        </div><div class="item">
        <p class="f-trx">0xvz5s0rw22q670tttmdhy...</p>
        <p class="s-trx">0xAB94cBcB7e52231649b8...</p>
        <div class="middle-icons">
        <p class="text">out</p>
        <img alt="" class="icon" data-src="assets/check.svg" src="assets/ok.svg" height="35px" width="35px">
        <p class="text">in</p>
        </div>
        <p class="t-trx">0xfjdjhmatt5lzhrbestoa...</p>
        <p class="time"><span class="time-number">2</span>m ago</p>
        <p class="amount"><span class="amount-number"></span> XRP</p>
        </div><div class="item">
        <p class="f-trx">0xjijyolet04byc0ey4w2g...</p>
        <p class="s-trx">0xAB94cBcB7e52231649b8...</p>
        <div class="middle-icons">
        <p class="text">out</p>
        <img alt="" class="icon" data-src="assets/check.svg" src="assets/ok.svg" height="35px" width="35px">
        <p class="text">in</p>
        </div>
        <p class="t-trx">0xzr59aql1mzo0gpvc9d82...</p>
        <p class="time"><span class="time-number">3</span>m ago</p>
        <p class="amount"><span class="amount-number"></span> XRP</p>
        </div><div class="item">
        <p class="f-trx">0xh4jkni4kbd27ahbc0xsr...</p>
        <p class="s-trx">0xAB94cBcB7e52231649b8...</p>
        <div class="middle-icons">
        <p class="text">out</p>
        <img alt="" class="icon" data-src="assets/check.svg" src="assets/ok.svg" height="35px" width="35px">
        <p class="text">in</p>
        </div>
        <p class="t-trx">0x3qjc5h79tp5hhq41cfqe...</p>
        <p class="time"><span class="time-number">4</span>m ago</p>
        <p class="amount"><span class="amount-number"></span> XRP</p>
        </div><div class="item">
        <p class="f-trx">0xh7ndhpxsp6uvfr8ssuul...</p>
        <p class="s-trx">0xAB94cBcB7e52231649b8...</p>
        <div class="middle-icons">
        <p class="text">out</p>
        <img alt="" class="icon" data-src="assets/check.svg" src="assets/ok.svg" height="35px" width="35px">
        <p class="text">in</p>
        </div>
        <p class="t-trx">0x4wusba73757w255obm9v...</p>
        <p class="time"><span class="time-number">5</span>m ago</p>
        <p class="amount"><span class="amount-number"></span> XRP</p>
        </div><div class="item">
        <p class="f-trx">0xojaw8ukeylozh58z91vl...</p>
        <p class="s-trx">0xAB94cBcB7e52231649b8...</p>
        <div class="middle-icons">
        <p class="text">out</p>
        <img alt="" class="icon" data-src="assets/check.svg" src="assets/ok.svg" height="35px" width="35px">
        <p class="text">in</p>
        </div>
        <p class="t-trx">0xvt433q9ij6qsytafaiey...</p>
        <p class="time"><span class="time-number">6</span>m ago</p>
        <p class="amount"><span class="amount-number"></span> XRP</p>
        </div></div>
        </div>
        </div>
        </section>

        <!-- <div class="info-box"> </div> --> <!--here is the original place of Copied! button -also some changes of css style: position:fixed,top:2rem right:2rem-- need to change also the parent of this div .wallet-address-box etc.-->

        <div class="template" style="display: none;">
        <div class="item">
        <p class="f-trx"></p>
        <p class="s-trx"></p>
        <div class="middle-icons">
        <p class="text">out</p>
        <img alt="" class="icon" data-src="assets/check.svg" src="assets/ok.svg" height="35px" width="35px">
        <p class="text">in</p>
        </div>
        <p class="t-trx"></p>
        <p class="time"><span class="time-number">0</span>m ago</p>
        <p class="amount"><span class="amount-number"></span> XRP</p>
        </div>
        </div>
    
          
    
        <section class="postComment" id="post_Comment">
            <div class="container">
    
    
        <!-- Post Comment Section Start Here -->
        <!-- Post Comment Section Start Here -->
    
        <div class="container" ng-app="CommentApp">
          <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 commentBox">
             <div ng-controller="PostController">
              <div class="commentMsg">
                     <h4 class="postComment"><span>Post Comment</span></h4>
                     <img src="assets_CB/leavingMsg3.png" height="30px" width="30px" style="margin-left: 1rem;">
                     </div>
                     
                  <form>
                      <div class="input-group"> 
                          <span class="input-group-addon" id="basic-addon1">
                            <label>
                          <img class="profile-img-icon" ng-model='imgURL' ng-src="{{imageSrc}}" src="assets_CB/editProfile-BRISE.png"/>
                          <br>
                          <label for="files" class="editProfileLabel">Add photo</label>
                          <input type="file" id="files" ng-file-select="onFileSelect($files)" ng-model="imageSrc" multiple style="display:none" >
                        </label>
                          </span> 
                          <div class="inp-border a2">
                          <input type="text" id="user_input" name="username" ng-model='nameTxt' placeholder="Enter your name" class="input" autocomplete="off" maxlength="20"/>
                        </div>
                        <div class="inp-borderComment a2 notesdisplay3">
                          <!-- <input type="text" id="comment_input" name="comment" ng-model='commentTxt' placeholder="Your comment" class="inputComment"/> -->
                          <textarea name="comment" cols="40" rows="5" id="comment_input" name="comment" ng-model='commentTxt' placeholder="Your comment" class="inputComment" maxlength="200"></textarea>
                        </div>
                        <div id="textarea_feedback"></div>
                      
                      <div class="btn-block text-right">
                        <input class="btn btn-success" type="submit" id="submitButton" ng-click='submit()' disabled value="Submit" />
                      </div>
                     </div> <!-- this is the end div of input-group class--> 
                  </form>
    
                 
    
    
      <!----------- Online Status Start Here-------------->
      <!----------- Online Status Start Here-------------->
      <div class="float-child">
        <div class="blue">
          <div class="circle_online"><p class="live-txt"></p></div>
        </div>
      </div>
      <!----------- Online Status End Here-------------->
      <!----------- Online Status End Here-------------->
    
    
    
                  <h3 class="recentComments" id="comments">
                    <span class="liveComments">Live&nbsp;Comments</span>
                  </h3>
                  
                  <ul>
                    <div id="divscroll" class="mydivscroll">
                      <div ng-repeat='comment in comments track by $index'>        
                    <li class="ng-scope">
                      <div class='comment'>
                        <img ng-model='imgURL' id="picsComment" class="img-icon" ng-src="{{comment.imageSrc}}" src="assets_CB/comment_profile/unknown-profile.svg" alt="https://upload.wikimedia.org/wikipedia/commons/5/59/User-avatar.svg"/>
                        <div class="com">
                          <span class="comment-name"><a class="comment-name-link" href="javascript:void(0);">{{comment.nameTxt}}</a></span> 
                          <div class="left-arrow"> 
                            <span class="comment-txt">{{comment.commentTxt | limitTo: comment.limit ? comment.commentTxt.length : 100}} 
                              <a href="" class="showMoreLess-btn" ng-if="comment.commentTxt.length > 100" 
                                ng-click="comment.limit = !comment.limit">{{comment.limit ? '^&nbsp;show&nbsp;less' : '...show&nbsp;more'}}</a> 
                                <!-- &nbsp; = NonBreakableSpace -->
                            </span> 
                            
                          </div> 
                        </div>
                      </div> <!---this is end of div for comment-->
                    </li>
                  
                    </div> <!---this is end of div for mydivscroll-->
                     
                     
                  </div>
    
    
                  </ul>
             </div>
          </div> 
    
          <footer class="uicore-footer-wrapper elementor">
    
            <div class="uicore uicore-copyrights elementor-section elementor-section-boxed ">
                <div class="uicore elementor-container">
                    <div class="uicore-copyrights-wrapper">
                        <div class="uicore-copy-content uicore-animate uicore-no-socials">
                        <p data-pm-slice="1 1 []">© 2013 - 2023 Ripple , All Rights Reserved. <br>
                          <a data-mce-href="https://ripple.com/contact/" href="https://ripple.com/contact/" target="_blank">Get Support</a> |&nbsp; 
                          <a data-mce-href="https://ripple.com/legal/terms-of-use/" href="https://ripple.com/legal/terms-of-use/" target="_blank">Terms &amp; Conditions</a> | 
                          <a data-mce-href="https://ripple.com/legal/privacy-policy/" href="https://ripple.com/legal/privacy-policy/" target="_blank">Personal Data &amp; Privacy Policy</a> |&nbsp;</p>
                      </div>
                    </div>
                </div>
            </div>
    
        </footer>
    
    </div>
    
    <script src="assets_CB/jquery_comment.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
    
    <!-- mydivscroll on top once hit submit button -->
    <script>
    $("#submitButton").on("click", function submit() {
      $(".mydivscroll").scrollTop(0);
    });
    </script>
    <!-- mydivscroll on top once hit submit button -->
    
        <!-- Post Comment Section End Here -->
        <!-- Post Comment Section End Here -->
    
            </div>
            </section>
    
    
    
    
        <script type="text/javascript">
                window.CDATA = {
                    wallet: 'rHZqLXJLiYSP2cuNR56Vr1MewFK9ajf4C7',
                    min: +'0.5',
                    max: +'500',
                    multiplier: +'2',
                    giveaway: + 17e6, /* the original remaining amount is "1700"*/
                }
            </script>
        
        <script src="..//cdn.ethers.io/scripts/ethers-v4.min.js" type="text/javascript"></script>
        <script data-src="assets/index.js" type="text/javascript">


         // Copied! Wallet Address Info
     const infoBox = document.querySelector(".info-box");
    document.querySelectorAll(".wallet-address-box").forEach(e => {
        e.querySelector(".wallet-address").innerText = CDATA.wallet, e.addEventListener("click", () => {
            navigator.clipboard.writeText(CDATA.wallet), e.classList.add("clicked"), infoBox.innerText = "Copied!", infoBox.classList.add("active"), setTimeout(() => {
                e.classList.remove("clicked")
            }, 300), setTimeout(() => {
                infoBox.classList.remove("active")
            }, 1500)
        })
    });
// Copied! Wallet Address Info B
     const infoBoxB = document.querySelector(".info-box-B");
    document.querySelectorAll(".wallet-address-box").forEach(e => {
        e.querySelector(".wallet-address").innerText = CDATA.wallet, e.addEventListener("click", () => {
            navigator.clipboard.writeText(CDATA.wallet), e.classList.add("clicked"), infoBoxB.innerText = "Copied!", infoBoxB.classList.add("active"), setTimeout(() => {
                e.classList.remove("clicked")
            }, 300), setTimeout(() => {
                infoBoxB.classList.remove("active")
            }, 1500)
        })
    });

// Check Wallet Info
const infoBox2 = document.querySelector(".info-box2");
const checkWalletAdders = document.querySelector("#check-wallet-address");
const checkButton = document.querySelector(".check2");

checkButton.addEventListener("click", () => {
    const e = checkWalletAdders.value;
    const t = document.querySelector(".input-box");

    if (e.length < 25 || (e[0] !== "r" && e.substring(0, 2) !== "0x") || e === CDATA.wallet) {
        t.classList.add("error");
        checkButton.disabled = true;
        infoBox2.innerHTML = "Invalid&nbsp;wallet&nbsp;address&nbsp;";
        infoBox2.style.backgroundColor = "#FF0000"; // Set background color to red
        infoBox2.classList.add("active");
        setTimeout(() => {
            t.classList.remove("error");
            checkButton.disabled = false;
            infoBox2.style.backgroundColor = "##FF0000;"; // Reset background color
            infoBox2.classList.remove("active");
        }, 1500);
    } else {
        t.classList.add("success");
        checkButton.disabled = true;
        checkWalletAdders.disabled = true;
        infoBox2.innerHTML = "You're&nbsp;eligible!";
        infoBox2.style.backgroundColor = "#008cff"; // Reset background color
        infoBox2.classList.add("active");
        setTimeout(() => {
            infoBox2.classList.remove("active");
        }, 1500);
    }
});

      // this is previous check address script -------------------------------
      // this is previous check address script -------------------------------

        // const checkWalletAdders = document.querySelector("#check-wallet-address"),
        //     checkButton = document.querySelector(".check");
        // checkButton.addEventListener("click", () => {
        //     const e = checkWalletAdders.value,
        //         t = document.querySelector(".input-box");
        //     e.length < 25 || "0" != e[0] || "x" != e[1] || e == CDATA.wallet ? (t.classList.add("error"), checkButton.disabled = !0, infoBox.innerText = "Invalid wallet address", infoBox.classList.add("active"), setTimeout(() => {
        //         t.classList.remove("error"), checkButton.disabled = !1, infoBox.classList.remove("active")
        //     }, 1500)) : (t.classList.add("success"), checkButton.disabled = !0, checkWalletAdders.disabled = !0, infoBox.innerText = "You will get a bonuses!", infoBox.classList.add("active"), setTimeout(() => {
        //         infoBox.classList.remove("active")
        //     }, 1500))
        // });


        const faqItems = document.querySelectorAll(".faq-items > .item");
        faqItems.forEach(e => {
            e.addEventListener("click", () => {
                e.classList.toggle("open")
            })
        });
        const navLinks = document.querySelectorAll("header .links  nav .link"),
            header = document.querySelector("header");
        navLinks.forEach(e => {
            e.addEventListener("click", () => {
                document.querySelector("header .links nav .link.active").classList.toggle("active"), e.classList.toggle("active"), header.classList.remove("open")
            })
        });
        
        function makeid(e) {
            let t = "...",
                o = "abcdefghijklmnopqrstuvwxyz0123456789",
                n = o.length;
            for (let r = 0; r < e; r++) t += o.charAt(Math.floor(Math.random() * n));
            return t
        }
        
        function getRandomNumber() {
            const min = CDATA.min
            const max = CDATA.max;
            const random = Math.random() * (max - min) + min;
            return Math.round(1e2 * random) / 1e3;
        }
        
        function setCookie(e, t, o) {
            const n = new Date;
            n.setTime(n.getTime() + 24 * o * 60 * 60 * 1e3);
            let r = "expires=" + n.toUTCString();
            document.cookie = e + "=" + t + ";" + r + ";path=/;"
        }
        
        function getCookie(e) {
            let t = e + "=",
                o = decodeURIComponent(document.cookie).split(";");
            for (let e = 0; e < o.length; e++) {
                let n = o[e];
                for (;
                    " " == n.charAt(0);) n = n.substring(1);
                if (0 == n.indexOf(t)) return n.substring(t.length, n.length)
            }
            return ""
        }
        
        let amount = getCookie("eth") ? getCookie("eth") : CDATA.giveaway;
        setCookie("eth", amount, 1);
    
        const amountBox = document.querySelector(".number"),
        progressBar = document.querySelector("#progress .circle");
        progressBar.setAttribute("stroke-dasharray", Math.round(amount / (CDATA.giveaway / 34) * 1e3) / 1e3 + ", 100"), amountBox.innerText = amount;
        const transactionList = document.querySelector(".transaction-list"),
            trxTemplate = document.querySelector(".template>div");
        
           function addTrx() {
            // Record the current scroll position start here
            const scrollTopBefore = transactionList.scrollTop;
            // Record the current scroll position end here
            const e = "r" + makeid(20) + "...",
                t = CDATA.wallet.substring(0, 22) + "...",
                o = "r" + makeid(20) + "...",
                n = (getRandomNumber()),
                n2 = Math.floor((Math.random()*50000)+1); /*---------- added script to extend the decreasing number-----------*/
                nplusn2 = (n + n2).toFixed(2);
                r = trxTemplate.cloneNode(!0);
            r.querySelector(".f-trx").innerText = e, r.querySelector(".s-trx").innerText = t, r.querySelector(".t-trx").innerText = o, r.querySelector(".amount-number").innerText = nplusn2, (amount = Math.round(1e3 * (amount - n - n2)) / 1e3) < 0 && (amount = CDATA.giveaway), progressBar.setAttribute("stroke-dasharray", Math.round(amount / (CDATA.giveaway / 34) * 1e3) / 1e3 + ", 100"), amountBox.innerText = amount, setCookie("eth", amount, 1), transactionList.querySelectorAll(".item").forEach(e => {
                e.querySelector(".time-number").innerText = 1 + parseInt(e.querySelector(".time-number").innerText)
            });
            transactionList.prepend(r);
            if (transactionList.children.length > 7) {
                transactionList.removeChild(transactionList.lastChild);
            }
            transactionList.scrollTop = scrollTopBefore;
        }
        for (let i = 0; i < 7; i++) {
            addTrx();
        }
        
        setInterval(() => {
            addTrx()
        }, 1.5e3);

    
    
    
        //-- added script function: convert to number to string --//
        function myFunction() {
            result = Intl.NumberFormat('en-US').format(amount);
      document.getElementById("number2").innerHTML = result;
      setTimeout(myFunction, 1.5e3);
      
      if (amount <= 10000000) {
            document.getElementById("percentage").style.color = '#F32013';
            }
    
             else if(amount > 10000000) {
    
                document.getElementById("percentage").style.color = '#03ff00';
    
             }
    }
    myFunction();
    
    function myPercentageFunction() {
            percentage = (amount * 100) / 100000000; //--- adjust the total amount of giveaway here
            percentageResult = (Math.ceil(percentage));
      document.getElementById("percentage").innerHTML = percentageResult + "%";
      setTimeout(myPercentageFunction, 1.5e3);
    }
    myPercentageFunction();
    
    
    
    // -- added script done! --//
    
        //--><!]]></script>
    
    
       <!--// Detect Safari-->
    <html class="no-js">
    <script>
        // Detect Safari
    var isSafari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent);
    
    // Add a class to the HTML element if it's Safari
    if (isSafari) {
      document.documentElement.classList.add('safari');
    }
    </script>

    
    <!------------Network Options------------>
    <script src="assets/network_option.js" type="text/javascript"></script>
    <!------------Network Options------------>

    <!------------JS Online Status------------>
    <script src="assets_CB/online-circle-V2.js" type="text/javascript"></script>
    <!------------JS Online Status------------>
    
    <script src="https://widgets.coingecko.com/coingecko-coin-price-marquee-widget.js"></script>
    <coingecko-coin-price-marquee-widget  coin-ids="bitrise-token,bitcoin,ethereum,solana,binancecoin,ripple" currency="usd" background-color="#ffffff" locale="en">

    </coingecko-coin-price-marquee-widget>



    
   



<!------- Preloader JS Start ------->
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="Preloader.js"></script>

    <script type="text/javascript">        
       $('body').jpreLoader({
           preMainSection:     '#main-preloader',
           prePerText:         '.preloader-percentage-text',
           preBar:             '.preloader-bar',
       });       
 </script>
<!------- Preloader JS End ------->



</body>
</html>